---
layout: default
---

<small>{{ page.date | date: "%a %B %-d %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">    
    {% if page.authorsite and page.author %}
    by <a href="{{ page.authorsite }}">{{ page.author }}</a>
    {% elsif page.author %}
    by {{ page.author }}
    {% else %}
    by <a href="{{ site.authorsite }}">{{ site.author }}</a>
    {% endif %}
</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

{% if page.comments %}
  {% include disqus.html %}
{% endif %}